rules_version = '2';
service cloud.firestore {
  match /databases/ai-studio-lazisna-c230f338-0b8b-41f7-be21-528ffcb1185b/documents {
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
